*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main{
  height: 100%;
  width: 100%;

  background-image: url(https://i.pinimg.com/1200x/02/5e/a7/025ea7621d456af27deee243542a9868.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  overflow: hidden;
  position: relative;

}

body{
  background-color: black;
}